@use '../../styles/base/' as *;
.about {
    width: 100%;
    height: 100%;
    background-color: transparent;

    h1 {
        margin: 5rem 0;
        font-weight: $font-bold;
        font-family: $font-alt;
    }

    .tkr {
        margin: 5rem 0;
        width: 100%;
        display: grid;
        place-content: center;
        height: 100vh;

        > img {
            object-position: center center;
            height: 100%;
            width: 100%;
        }

        > .socials {
            margin: 0.5rem 0;
                display: flex;
              a {
                list-style: none;
                margin: 0 5px;
                height:82px;
                width: 82px;
                color: #b6b6b6;
                border: 1px solid #888;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                transition: all ease 0.3s;

                &:hover {
                    color: #ffffff;
                    background: rgb(182, 107, 58);
                    cursor: pointer;
                  }
              }             
        }
    }

    .crew {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        min-height: fit-content;
        padding: 5rem 1rem;
        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
       /*  background-color: rgb(182, 107, 58); */
        border-radius: 16px;

        @media (min-width: 768px) {
            flex-direction: row;
          
        }

        .crew-member {
            height: 40vh;
        }

        .socials {
                margin: 0.5rem 0;
                display: flex;
              a {
                list-style: none;
                margin: 0 5px;
                height: 36px;
                width: 36px;
                color: #b6b6b6;
                border: 1px solid #888;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                transition: all ease-in-out 0.4s;

                &:hover {
                    color: #ffffff;
                    background: rgb(182, 107, 58);
                    border: 1px solid #fff;
                    cursor: pointer;
                  }
              }             
        }
    }
}
