 .grid-lines {
  position: absolute;
  width: 100dvw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  animation: fadeIn 2s forwards;

  .line {
    position: absolute;
    background: rgba(233, 228, 228, 0.071);
    z-index: -1;
  }

  .line-vertical {
    width: 1px;
    height: 100%;
    background: rgba(244, 238, 238, 0.074);
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    &:nth-child(3n + 1)::after {
      animation-delay: 4s;
      animation-duration: 10s;
    }

    &:nth-child(5n + 1)::after {
      animation-delay: 2s;
      animation-duration: 10s;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 400px;
      width: 1px;
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 0, 89, 0) 0%,
        #c9c7c96c 75%,
        #c6c6c559 100%
      );
      animation-delay: 0.6s;
      animation: run 7s 0s infinite linear;
      animation-fill-mode: forwards;

    }
  }

 /*  .line-horizontal {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@keyframes run {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
} */

.line-horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  
  &:nth-child(3n + 1)::after {
    animation-delay: 4s;
    animation-duration: 10s;
  }

  &:nth-child(5n + 1)::after {
    animation-delay: 5s;
    animation-duration: 20s;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 400px;
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(
      to right,
      rgba(255, 0, 89, 0) 0%,
      #c9c7c9b5 75%,
      #c6c6c5bc 100%
    );
    animation-delay: 1.6s;
    animation: run-horizontal 9s 0s infinite linear;
    animation-fill-mode: forwards;
  }
}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes run {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

@keyframes run-horizontal {
0% {
  transform: translateX(-100%);
  opacity: 1;
}
98% {
  opacity: 1;
}
100% {
  transform: translateX(200%);
  opacity: 0;
}
}