@use "../../styles/base" as *;
.hero {
    position: relative;
    top: 5rem;
    width: 100%;
    min-height: 50vh;
    max-height: 100vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-alt;

    @media (min-width: 768px) {
        flex-direction: row;
    }

   /*  .mobile-welcome {
        width: 100%;
        display: block;
        align-self: flex-start;
        padding: 3rem 0;

        @media (min-width: 768px) {
            display: none;
        }

        h3 {
            font-size: $font-size-l;
        }

        h2 {
            font-size: $font-size-l;
            font-weight: 800;
            letter-spacing: 2px;

            @media (min-width: 768px) {
                font-size: $font-size-xxl;
            }
        }
    } */

    .top-section {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        @media (min-width: 768px) {
            flex-direction: column;
            width: 50vw;
           align-items: flex-start;
         }
    }

    .hero-tkr {
        position: relative;
        width: 30svw;
        height: auto;
        border: 1rem;
        border-radius: 16px;
        overflow: hidden;

        @media (min-width: 768px) {
           width: 50%;
           height: auto;
        }

        img {
            object-position: center center;
            height: 100%;
            width: 100%;
        }
    }

    .headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        position: relative;        
        z-index: 2;
        text-shadow: 1px 1px 1px #000;
        width: 100%;

        @media (min-width: 768px) {
           
           width: 50%;
        }

        h3 {
            font-size: $font-size-m;

            @media (min-width: 768px) {
                font-size: $font-size-l;
            }
        }

        h2 {
            font-size: $font-size-l;
            font-weight: 800;
            letter-spacing: 2px;

            @media (min-width: 768px) {
                font-size: $font-size-xxl;
            }
        }
    }

    .video-wrapper {
        position: relative;
        padding: 2rem 0;
        width: 100%;
        height: 22.5rem;
        border-radius: 16px;
        overflow: hidden;

        @media (min-width: 768px) {
            top: 0vh;
            width: 50vw;
            height: auto;
        }
    }
}
