.member {
    position: relative;
    margin-top: 5rem;
    padding: 2rem 1rem;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media (min-width: 768px) {
        padding: 5rem 4rem;
    }

    .back {
        position: fixed;
        top: 10vh;
        right: 48px;
        z-index: 100;
        border-radius: 8px;
        padding: 12px 16px;
        background-color: #121212;
        color: #888;
        font-size: clamp(1.2rem, 1.5vw, 1.75rem);
        border: 1px solid #888;
        transition: all 0.6s ease-in-out;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    .bgImage {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        filter: grayscale(1);
        opacity: 0; // Starts as invisible and fades in
        z-index: 0;
      
      
        > img {
          object-fit: cover;
          object-position: center 10%;
          width: 100%;
          height: 100%;
          transform: scaleX(-1);
        }
      }

    .imageContainer {
        position: relative;
        width: 60vh;
        height: 40vh;
        border-radius: 16px;
        overflow: hidden;
        z-index: 10;
        padding-top: 4rem;

        @media (max-width: 768px) {
            padding: 2rem;
            width: 90vh;
            height: 60vh;
            border-radius: 16px;
        }
       
        img {
            object-fit: cover;
            object-position: center top;
                width: 100%;
                height: 100%;
                z-index: 1;
                border-radius: 16px;
            }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 2;
        }       
    }

    h1 {
        padding: 1rem;
        font-size: clamp(3rem, 5vw, 5rem);
        z-index: 3;
        position: relative;
    }

    .description {
        padding: 1rem 1rem;
        font-size: clamp(1.2rem, 1.5vw, 1.75rem);
        white-space: pre-wrap;
        text-align: left;
        z-index: 3;
        opacity: 1;
        background: black;
        border-radius: 8px;
        width: 90%;

        @media (min-width: 768px) {
            padding: 5rem 1rem;
            width: 75%;
        }
    }
}
