.contact {
    max-width: 100%;
    background-color: rgb(78, 14, 78);
    height: 100vh;
    background: linear-gradient(-45deg, #dcd9d9b7, rgba(34, 34, 34, 0.727), rgba(0, 0, 0, 0.768), rgba(225, 226, 226, 0.818));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: grid;
    place-content: center;
}

.text {
    font-size: 4rem;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-stroke: 2px rgb(236, 236, 236);
    color: transparent;
    mix-blend-mode: difference;
}

svg {
    width: 100px;
    height: auto;
    fill: rgba(227, 227, 227, 0.376);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

