.home {
    width: 100%;
    min-height: 100vh;
    color: white;
    padding: 0 4rem;
   max-width: 100svw;

    .section {
        padding-top: 0rem;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            padding-top: 10rem;
        }

        article {
            width: 100%;
            height: fit-content;
            padding: 1rem 0;
            @media (min-width: 768px) {
                width: 80%;
                padding: 4rem 0;
            }
        }

        .iframe {
            padding: 1rem 0;
            width: 100%;
            height: 30vh;  
            margin: 0 auto; 
        }

        a {
            text-decoration: none;
            color: white;
        }
    }


}