@use "../../styles/base/" as *;
.header {
    width: 100%;
    padding: 0 1rem;
    height: 5rem;
    background-color: $color-bg;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
        width: 100%;
        max-width: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @media (min-width: 768px) {
            display: grid;
            place-content: center;
        }
    }
}
