@use './styles/base' as *;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: $font-default;
  font-family: $font-base;
}

footer,
header,
nav,
section,
main {
  display: block;
}

html,
body {
  max-width: 100svw;
  line-height: 1;
  background-color: $color-bg;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    padding: 0 4rem;
   
  }
}

.root-layout {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

// fonts

h1 {
  font-size: 3.5rem;
  font-family: $font-alt;
  
  @media screen and (max-width: 1185px) {
    font-size: 2.5rem;
  }
  
    @media screen and (max-width: 960px) {
      font-size: 2rem;
  }
  
  @media screen and (max-width: 40em) {
    font-size: 1.6rem;
  }
  }
  
  
    h2 {
      font-family: $font-base;
      font-size: 2.25rem;
  
      @media screen and (max-width: 960px) {
        font-size: 2rem;
    }
  
    @media screen and (max-width: 40em) {
      font-size: 1.5rem;
    }
  }
  
    
    h3 {
      font-size: 1.5rem;
  
      @media screen and (max-width: 960px) {
       
    }
    @media screen and (max-width: 40em) {
      font-size: 1rem;
    }
    }
  
    h3 {
      font-size: $font-size-base;
  
      @media screen and (max-width: 960px) {
       font-size: $font-size-base * 0.95;
    }
    @media screen and (max-width: 40em) {
      font-size: $font-size-s;
    }
    }
  
    
    p {
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: $color-client-3;
  
      @media screen and (max-width: 960px) {
       font-size: 1rem;
       line-height: 1.1rem;
      }
  
      @media screen and (max-width: 40em) {
          font-size: $font-size-base;
          line-height: 1.2rem;
         
    }
    }
  
    @media (prefers-color-scheme: dark) {
      html {
        color-scheme: dark;
      }
    }
  

 