@use './styles/base' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;



*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: $font-base;
}

footer,
header,
nav,
section,
main {
  display: block;
}

html,
body {
  max-width: 100svw;
  line-height: 1;
  background-color: $color-bg;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  padding: 0;

  @media (min-width: 768px) {
    padding: 0;
   
  }
}

.root-layout {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

// fonts

h1 {
  font-size: 3.5rem;
  font-family: $font-alt;
  font-weight: $font-bold;
  
  @media screen and (max-width: 1185px) {
    font-size: 2.5rem;
  }
  
    @media screen and (max-width: 960px) {
      font-size: 2rem;
  }
  
  @media screen and (max-width: 40em) {
    font-size: 1.6rem;
  }
  }
  
  
    h2 {
      font-family: $font-base;
      font-size: 2.25rem;
  
      @media screen and (max-width: 960px) {
        font-size: 2rem;
    }
  
    @media screen and (max-width: 40em) {
      font-size: 1.5rem;
    }
  }
  
    
    h3 {
      font-size: 1.5rem;
  
      @media screen and (max-width: 960px) {
       
    }
    @media screen and (max-width: 40em) {
      font-size: 1rem;
    }
    }
  
    h3 {
      font-size: $font-size-base;
  
      @media screen and (max-width: 960px) {
       font-size: $font-size-base * 0.95;
    }
    @media screen and (max-width: 40em) {
      font-size: $font-size-s;
    }
    }
  
    
    p {
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: $color-client-3;
      font-weight: $font-normal;
      letter-spacing: 1px;
  
      @media screen and (max-width: 960px) {
       font-size: 1rem;
       line-height: 1.1rem;
      }
  
      @media screen and (max-width: 40em) {
          font-size: $font-size-base;
          line-height: 1.2rem;
         
    }
    }
  
    @media (prefers-color-scheme: dark) {
      html {
        color-scheme: dark;
      }
    }
  

    .form__field {
      font-family: inherit;
      width: 100%;
      border: none;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 17px;
      color: #fff;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    }
    
    .form__field::placeholder {
      color: transparent;
    }
    
    .form__field:placeholder-shown ~ .form__label {
      font-size: 17px;
      cursor: text;
      top: 20px;
    }
    
    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: #9b9b9b;
      pointer-events: none;
    }
    
    .form__field:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, #116399, #38caef);
      border-image-slice: 1;
    }
    
    .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: #38caef;
      font-weight: 700;
    }
    
    /* reset input */
    .form__field:required,
    .form__field:invalid {
      box-shadow: none;
    }
    
    .google__btn__shadow {
      --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
        0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
        5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    }
    
    /* Dark theme styles for SweetAlert dialogs */
    .dark-theme {
      background-color: #333 !important;
      color: #fff !important;
    }
    
    .dark-theme .swal2-title {
      color: #fff !important;
    }
    
    .dark-theme .swal2-content {
      color: #fff !important;
    }
    
    .dark-theme-button {
      background-color: #3085d6 !important;
      color: #fff !important;
    }
    
    .dark-theme-button.cancel {
      background-color: #d33 !important;
    }
    
    .truncate-text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* Set the number of lines to display */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(131, 125, 125, 0.1);
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(131, 125, 125, 0.2);
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(131, 125, 125, 0.4);
    }
    
    ::-webkit-scrollbar-thumb:active {
      background: rgba(131, 125, 125, 0.9);
    }
    
    /* Styles for spinner for infinite scroll */
    .loader {
      border-top-color: #493a3af1;
      -webkit-animation: spinner 1.5s linear infinite;
      animation: spinner 1.5s linear infinite;
    }
    
    @-webkit-keyframes spinner {
      0% {
        -webkit-transform: rotate(0deg);
      }
    
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }

    .wrapper-class {
      padding: 1rem;
      border: 1px solid #ccc;
    }
    
    .editor-class {
      background-color: lightgray;
      padding: 1rem;
      border: 1px solid #ccc;
    }
    
    .toolbar-class {
      border: 1px solid #ccc;
    }

    .title {
      font-size: clamp(2rem, 0.75rem + 3vw, 6rem);
      padding-bottom: 1rem;
      word-break: keep-all;
    }
    
    .title2 {
      font-size: clamp(2rem, 0.75rem + 3vw, 4rem);
      padding-bottom: 1rem;
      word-break: keep-all;
    }
    